body {
        padding-top: 20px;
      padding-bottom: 30px;

}
* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#header {
    padding-top: 5px;
}

#sidebar {
    position: absolute;
    left: 50px;
    top: 250px;
    bottom: 20px;
    width: 380px;
/*    border: solid 1px #CCCCCC; */
    overflow-y: auto;
}


#mainbar {
    position: absolute;
    left: 500px;
    top: 250px;
    bottom: 20px;
    width: 850px;
    overflow-y: auto;
}

#mainlogo {
    display:block;
    margin:auto;
    vertical-align: middle ;
    margin-top: 50px;
}

h2, h4 {
    color:#4B0A1E;
}

#content {
    position: absolute;
    top: 280px;
    bottom: 20px;
    left: 50px;
    right: 20px;
}

.form-left-col {
    width: 100px;
    float: left;
}

.form-right-col {
}

.title {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    margin: 0 0 10px 5px;
}

li a {
    text-decoration: none;
    display: block;
    color: #000000;
    border-bottom: solid 1px #CCCCCC;
    padding: 4px;
}

li a:hover {
    background-color: #4B0A1E;
    color: #BA8A92;
}


input, textarea {
    border: 1px solid #ccc;
    min-height: 30px;
    outline: none;
}

.form-left-col input {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 180px;
}

footer {
    position: absolute;
    top: 800px;
    left: 50px;
}

textarea {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 200px;
    width: 150px;
}

label {
    display: block;
}

button {
    padding: 6px;
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

#toggleButton, #deleteButton {
color:#4B0A1E;
}

#scrollButton{
    color:#4cacde;
    padding-left: 0px;
}

.btn-link {
    color:#4B0A1E;
    padding-left: 0px;
}

a.plain:active {
    color: #BA8A92;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.help-inline { margin-bottom: 9px; }
.error { border: dashed red 1px; }
.success { border: dotted  green 1px; }

#nav {width:1280px; text-align: center} /*we specify a width for the parent element and we center the text for all of the child elements*/

#nav li, #nav a {display: inline} /*this property will allow the text links to be centered at all times*/
         #nav a {padding: 0 8px 9px; margin: 0 6px; color:#4B0A1E;} 