<h4 style="color:#4B0A1E;">Add</h4>
<form class="form-horizontal">

    <div class="control-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
    <input type="text" ng-model="teaser.title" id="titleAddinput" style="width:450px;" name="title" placeholder="Title" > </input>
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="question">Question</label>
    <div class="controls">
    <textarea rows="5" ng-model="teaser.question" id="questionAddinput" name="question" placeholder="Question" style="width:450px;"></textarea>
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="solution">Solution</label>
    <div class="controls">
    <textarea rows="8" ng-model="teaser.solution" id="solutionAddinput" name="solution" placeholder="Solution" style="width:450px;"></textarea>
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="image_url">Image Name</label>
    <div class="controls">
    <input type="text" ng-model="teaser.image_name" id="image_name_add" style="width:250px;" name="image_url" >
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="category">Category</label>
    <div class="controls">
        <select ng-model="teaser.category" name="category" id="category_add">
            <option>Logical</option>
            <option>Lateral</option>
            <option>Mathematical</option>
            <option>Programmatical</option>
          </select> 
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="difficulty">Difficulty</label>
    <div class="controls">
        <select ng-model="teaser.difficulty" name="difficulty" id="difficulty_add">
            <option>Medium</option>
            <option>Easy</option>
            <option>Difficult</option>
            <option>Tough</option>
          </select> 
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
    <button ng-click="addNewTeaser()" class="btn btn-primary" id="addChanges">Submit</button>    
    </div>
    </div>
</form>  
    <div class="row-fluid status-bar">
        <div class="span6">
         <div class="alert alert-success" style="display: none">
            <b>Success!</b> Teaser saved successfully
        </div>
        </div>
    </div>